#################################
##     DIRECTORY STRUCTURE     ##
#################################
# Directory Structure is set at install.
# Changing these settings could damage Idol.

BASE_DIR=PLACEHOLD_BASE_DIR
BIN_DIR=PLACEHOLD_BIN_DIR
LIB_DIR=PLACEHOLD_LIB_DIR
LOG_DIR=PLACEHOLD_LOG_DIR
TEST_DIR=PLACEHOLD_TEST_DIR
MAN_DIR=PLACEHOLD_MAN_DIR

NOW=$(date +"%m_%d_%Y_%H%M")
LOG_OUT=${LOG_DIR}/log_${NOW}.log

#################################
##   RUNNING CONFIGURATIONS    ##
#################################

#Idol modes are "solo", "client", or "server".  If set to "client", you must also set the server configs below.

IDOL_MODE="solo"
# SERVER_URL="idol_server.company.local"
# SERVER_USERNAME="idol-user"
# SERVER_BASE_DIR="/home/idol-user/idol"
# SERVER_BIN_DIR="/home/idol-user/idol/bin"
# SERVER_TEST_DIR="/home/idol-user/idol/tests"

#################################
##           OPTIONS           ##
#################################

RUN_ON_BOOT=no
RUN_ON_SCHEDULE=no
RUN_ON_VAGRANT=no
