#####################################
##*********************************##
##*                               *##
##* IDOL SERVERSPEC CONFIGURATION *##
##*                               *##
##*********************************##
#####################################

serverspec_server=
serverspec_server_username=
serverspec_server_key=0
serverspec_server_password=
serverspec_directory=

#################################
##      FILE LOCATIONS:        ##
#################################


 