#################################
##   RUNNING CONFIGURATIONS    ##
#################################

mode_standalone: yes
mode_client: no
# server_url: http://idol_server.company.local
# server_username: idol_user
# server_base_dir: /opt/idol

#################################
##           OPTIONS           ##
#################################

run_on_boot: no
run_on_schedule: no
run_on_vagrant: no
